@use "../abstracts/index" as *;

// Small Screens
@media only screen and (max-width: 700px) {
  main {
    @include center-text;
    margin-top: 5rem;
  }
  h1 {
    margin-top: 5rem;
    margin-bottom: 0;
    padding-top: 1.75rem;
  }
}

// Large Screens
@media only screen and (min-width: 750px) {
  main {
    margin: 0 auto;
    max-width: 45vw;
  }

  .quote {
    max-width: 35vw;
    display: block;
    margin: 0 auto;
  }

  nav {
    ul {
      li {
        width: 12%;

        &:first-child {
          display: block;
        }
      }
    }
  }

  .hexagons {
    li {
      &:nth-child(1) {
        visibility: hidden;
      }
      &:nth-child(2) {
        visibility: hidden;
      }
      &:nth-child(3) {
        visibility: hidden;
      }
      &:nth-child(4) {
        visibility: hidden;
      }
      &:nth-child(5) {
        @include standard-hex();
        left: 0%;
        animation-delay: 0s;
        animation-duration: 24s;
      }
      &:nth-child(6) {
        @include standard-hex();
        left: 8%;
        animation-delay: 2s;
        animation-duration: 15s;
      }
      &:nth-child(7) {
        @include standard-hex();
        left: 13%;
        animation-delay: 6s;
        animation-duration: 21s;
      }
      &:nth-child(8) {
        @include standard-hex();
        left: 18.5%;
        animation-delay: 3s;
        animation-duration: 16s;
      }
      &:nth-child(9) {
        @include standard-hex();
        left: 76%;
        animation-delay: 1.5s;
        animation-duration: 18s;
      }
      &:nth-child(10) {
        @include standard-hex();
        left: 82.5%;
        animation-delay: 3s;
        animation-duration: 20s;
      }
      &:nth-child(11) {
        @include standard-hex();
        left: 88%;
        animation-delay: 0s;
        animation-duration: 15s;
      }
      &:nth-child(12) {
        @include standard-hex();
        left: 93%;
        animation-delay: 1s;
        animation-duration: 30s;
      }
      &:nth-child(13) {
        visibility: hidden;
      }

      // Hexes that come in later, for a "second wave" of rain.
      &:nth-child(14) {
        @include standard-hex();
        left: 2.5%;
        animation-delay: 8s;
        animation-duration: 24s; // duraction matches hex 5
      }
      &:nth-child(15) {
        @include standard-hex();
        left: 15%;
        animation-delay: 10s;
        animation-duration: 23s; // duration matches hex 7
      }
      &:nth-child(16) {
        @include standard-hex();
        left: 78%;
        animation-delay: 9s;
        animation-duration: 20s; // duration matches hex 10
      }
      &:nth-child(17) {
        @include standard-hex();
        left: 84%;
        animation-delay: 11s;
        animation-duration: 30s; // duration marches hex 12
      }
    }
  }
}
