// COLORS
$text-color: rgb(245, 239, 226); // #f5efe1;
$text-hover: aqua;
$primary-bg: #1a1a27;
$secondary-bg: black;
$light-bg: rgb(35, 35, 50); // #232332;

// MISC
$transition-speed: 300ms;

// FONTS variables in _fonts.scss
