@use './abstracts/index' as *;

nav {
  position: fixed;
  background-color: $primary-bg;
  top: 0;
  width: 100vw;
  height: 5rem;
  z-index: 1000;

  transition: height 200ms ease;

  &:hover {
    height: 8.1rem;

    span {
      display: block;
    }

    img {
      width: 8.1rem;
      height: 8.1rem;
    }
  }

  ul {
    @include flex(row);

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 25%;

      &:first-child {
        display: none;
        margin-right: auto;
        color: $text-color;
      }

      img {
        margin-left: 20px;
        width: 5rem;
        height: 5rem;
        transition: width 200ms ease;
        transition: height 200ms ease;

        ::before {
          content: "J";
        }
        ::after {
          content: "M";
        }
      }

      a {
        padding: 1.5rem 0;
        color: $text-color;
        text-decoration: none;
        transition: height $transition-speed ease;

        @include flex(column);
        align-items: center;

        svg {
          width: 2.25rem;
        }

        span {
          margin-top: 1.1rem;
          display: none;
          font-size: 1.5rem;
          font-family: "Verdana";
        }
        // $header-font

        &:hover {
          background-color: $secondary-bg;
          height: 8.1rem;

          span,
          svg {
            color: $text-hover;
          }
        }
      }
    }
  }
}
